<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle Financeiro</title>
    <!-- Link para o CSS externo -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<header>Controle Financeiro Mensal</header>
	<div class="container">
		<!-- Seleção do período -->
		<div class="periodo-card">
			<div class="periodo-container-horizontal">
				<div class="meses-grid" id="mesesGrid">
					<select id="anoSelecionado" class="btn-select btn-select-custom" onchange="trocarMes()">
						<option value="2024">2024</option>
						<option value="2025">2025</option>
						<option value="2026">2026</option>
					</select>
					<button class="btn-mes" onclick="selecionarMes('Janeiro', this)">Jan</button>
					<button class="btn-mes" onclick="selecionarMes('Fevereiro', this)">Fev</button>
					<button class="btn-mes" onclick="selecionarMes('Março', this)">Mar</button>
					<button class="btn-mes" onclick="selecionarMes('Abril', this)">Abr</button>
					<button class="btn-mes" onclick="selecionarMes('Maio', this)">Mai</button>
					<button class="btn-mes" onclick="selecionarMes('Junho', this)">Jun</button>
					<button class="btn-mes" onclick="selecionarMes('Julho', this)">Jul</button>
					<button class="btn-mes" onclick="selecionarMes('Agosto', this)">Ago</button>
					<button class="btn-mes" onclick="selecionarMes('Setembro', this)">Set</button>
					<button class="btn-mes" onclick="selecionarMes('Outubro', this)">Out</button>
					<button class="btn-mes" onclick="selecionarMes('Novembro', this)">Nov</button>
					<button class="btn-mes" onclick="selecionarMes('Dezembro', this)">Dez</button>
					<button class="btn btn-hoje" id="btnMesAtual" onclick="irParaMesAtual()">Hoje</button>
				</div>				
			</div>
		</div>

		<!-- Resumo do mês -->
		<div class="card">
			<div class="dashboard-main-grid">
				
				<div class="coluna-esquerda">
					<div class="bloco-superior-resumo col-content">
						<div class="resultado-box">
							<div class="resultado-item receitas">
									<div class="icones">
										<svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-banknote-arrow-up-icon lucide-banknote-arrow-up"><path d="M12 18H4a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5"/><path d="M18 12h.01"/><path d="M19 22v-6"/><path d="m22 19-3-3-3 3"/><path d="M6 12h.01"/><circle cx="12" cy="12" r="2"/></svg>
									</div>
								<div class="resultado-label">Receitas</div>
								<div class="resultado-valor" id="receitasBox">R$ 0,00</div>
							</div>
							<div class="resultado-item descontos">
									<div class="icones">
										<svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
											<circle cx="9" cy="21" r="1"></circle>
											<circle cx="20" cy="21" r="1"></circle>
											<path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
										</svg>
									</div>
								<div class="resultado-label">Despesas</div>
								<div class="resultado-valor" id="totalDespesasBox">R$ 0,00</div>
							</div>
							<div class="resultado-item liquido">
									<div class="icones">
										<svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
											<rect x="4" y="2" width="16" height="20" rx="2" ry="2"></rect>
											<line x1="8" y1="6" x2="16" y2="6"></line>
											<line x1="16" y1="14" x2="16" y2="14"></line>
											<line x1="12" y1="14" x2="12" y2="14"></line>
											<line x1="8" y1="14" x2="8" y2="14"></line>
											<line x1="16" y1="18" x2="16" y2="18"></line>
											<line x1="12" y1="18" x2="12" y2="18"></line>
											<line x1="8" y1="18" x2="8" y2="18"></line>
										</svg>
									</div>
								<div class="resultado-label">Saldo Final</div>
								<div class="resultado-valor" id="saldoBox">R$ 0,00</div>
							</div>
							<div class="resultado-item investimento">
									<div class="icones">
										<svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
											<path d="M19 5c-1.5 0-2.8 1.4-3 2-3.5-1.5-11-.3-11 5 0 1.8 0 3 2 4.5V20h4v-2h3v2h4v-4c1-.5 1.7-1 2-2h2v-4h-2c0-1 .5-1.5 1-2V5z"></path>
											<path d="M7 11h.01"></path>
											<path d="M11 2v4"></path>
										</svg>
									</div>								
								<div class="resultado-label">Investimentos</div>
								<div class="resultado-valor" id="investimentosBox">R$ 0,00</div>
							</div>
						</div>
					</div>

					<div class="bloco-inferior-barras col-content">
						<div class="tab-controls" style="display: flex; gap: 10px; justify-content: flex-end; align-items: center;">
							<div style="display: flex; gap: 10px;">
								<button id="btnGeral" class="tab-btn active" onclick="alternarGrafico('geral')">
									<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-banknote-arrow-up-icon lucide-banknote-arrow-up"><path d="M12 18H4a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5"/><path d="M18 12h.01"/><path d="M19 22v-6"/><path d="m22 19-3-3-3 3"/><path d="M6 12h.01"/><circle cx="12" cy="12" r="2"/></svg>
									<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shopping-cart-icon lucide-shopping-cart"><circle cx="8" cy="21" r="1"/><circle cx="19" cy="21" r="1"/><path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"/></svg>
								</button>
								<button id="btnInvest" class="tab-btn" onclick="alternarGrafico('investimentos')">
									<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-piggy-bank-icon lucide-piggy-bank"><path d="M11 17h3v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-3a3.16 3.16 0 0 0 2-2h1a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1h-1a5 5 0 0 0-2-4V3a4 4 0 0 0-3.2 1.6l-.3.4H11a6 6 0 0 0-6 6v1a5 5 0 0 0 2 4v3a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1z"/><path d="M16 10h.01"/><path d="M2 8v1a2 2 0 0 0 2 2h1"/></svg>
								</button>
							</div>
						</div>
						<div class="canvas-wrapper" style="width: 100%; height: 300px;">
							<canvas id="graficoHistorico"></canvas>
						</div>
					</div>
				</div>

				<div class="coluna-direita">
					<div class="col-content h-100">
						<h2 class="titulo-grafico">Distribuição por Categoria</h2>
						
						<div class="container-grafico-legenda">
							
							<div class="canvas-wrapper-pizza">
								<canvas id="graficoCategorias"></canvas>
							</div>
							
							<div class="legenda-tabela-container">
								<table id="tabelaLegenda">
									<thead>
										<tr>
											<th style="width: 10px;"></th> <th>Categoria</th>
											<th style="text-align: right;">%</th>
										</tr>
									</thead>
									<tbody>
										</tbody>
								</table>
							</div>
							
						</div> 

						<div class="paginacao-legenda" id="controlePaginacao" style="display: none;">
							<button onclick="mudarPaginaLegenda(-1)" id="btnAntLegenda">❮</button>
							<span id="infoPaginaLegenda">1 / 1</span>
							<button onclick="mudarPaginaLegenda(1)" id="btnProxLegenda">❯</button>
						</div>

					</div>
				</div>

			</div>
		</div>

		<!-- Despesas -->
		<div class="card">
			<div class="flex-row">
				<div class="col">
					<h2 class="titulos-h2">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
								<line x1="12" y1="1" x2="12" y2="23"></line>
								<path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
						</svg>
						Lançamentos Salário</h2>
					<div class="col-content">
						<div class="input-row-flex" style="margin-top:10px; width: 100%;">
							<div class="input-col">
								<label for="salarioBruto">Salário Bruto</label>
								<input type="number" id="salarioBruto" placeholder="R$ 0,00" onchange="salvarExcel()">
							</div>

							<div class="input-col">
								<label for="salarioDescontos">Descontos Salário</label>
								<input type="text" id="salarioDescontos" readonly style="background: #f0f0f0;">
							</div>
							<div class="input-col" style="flex: 0 0 80px;"> 
								<label for="porcentagemDesconto">%</label>
								<input type="text" id="porcentagemDesconto" readonly style="background: #f0f0f0;">
							</div>
							<div class="input-col">
								<label for="saldoAnterior">Saldo Mês Anterior</label>
								<input type="number" id="saldoAnterior" placeholder="R$ 0,00" onchange="salvarExcel()">
							</div>
						</div>
						<div class="titulo-descontos" style="margin-top: 20px;">Descontos</div>
							<div class="tabela-wrapper">
								<table id="tabelaDescontos">
									<thead>
										<tr>
											<th>Descrição</th>
											<th>Valor</th>
											<th>Ações</th>
										</tr>
									</thead>
									<tbody></tbody>
								</table>
							</div>
						<div class="input-group" style="margin-top:10px; width: 100%;">
							<div class="input-row-flex">
								<input type="text" id="descricaoDesconto" placeholder="Descrição do desconto" class="input-70 altura-forms">
								<input type="number" id="valorDesconto" placeholder="Valor" class="input-20 altura-forms">
								<select id="tipoLancamentoFolha" class="altura-forms">
									<option value="Desconto">Desconto (-)</option>
									<option value="Crédito">Crédito (+)</option>
								</select>
								<button class="btn btn-add-descontos altura-forms" onclick="adicionarDesconto()" title="Adicionar Desconto">
									<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
										<circle cx="12" cy="12" r="10"></circle>
										<line x1="12" y1="8" x2="12" y2="16"></line>
										<line x1="8" y1="12" x2="16" y2="12"></line>
									</svg>
								</button>
							</div>	
						</div>
						
					</div>
					<h2 class="titulos-h2">
						<svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<path d="M19 5c-1.5 0-2.8 1.4-3 2-3.5-1.5-11-.3-11 5 0 1.8 0 3 2 4.5V20h4v-2h3v2h4v-4c1-.5 1.7-1 2-2h2v-4h-2c0-1 .5-1.5 1-2V5z"></path>
							<path d="M7 11h.01"></path>
							<path d="M11 2v4"></path>
						</svg>
						Meus Investimentos
					</h2>
					<div class="col-content">												
						<div class="card-body">
							<table class="tabela-wrapper" id="tabelaInvestimentos">
								<thead>
									<tr>
										<th>Instituição/Ativo</th>
										<th>Tipo</th>
										<th>Valor Atual</th>
										<th style="width: 80px; text-align: center;">Ações</th>
									</tr>
								</thead>
								<tbody>
									</tbody>
								<tfoot>
									<tr class="table-secondary">
										<td colspan="2"><strong>Total em Investimentos</strong></td>
										<td colspan="2"><strong id="totalInvestimentoExibicao">R$ 0,00</strong></td>
									</tr>
								</tfoot>
							</table>
							<div class="input-group" style="margin-top:10px;">
									<div class="input-row-flex">
										<input type="text" id="inv_nome" class="altura-forms" placeholder="Ex: CDB Banco X">
										<select id="inv_tipo" class="altura-forms">
											<option value="CDB">CDB / Renda Fixa</option>
											<option value="Ações">Ações / FIIs</option>
											<option value="Cripto">Cripto</option>
											<option value="Outros">Outros</option>
										</select>
										<input type="number" id="inv_valor" class="altura-forms" placeholder="R$ 0,00" oninput="mascaraMoeda(this)">
										<button class="btn btn-add-descontos altura-forms" onclick="adicionarInvestimentoManual()">
											<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
												<circle cx="12" cy="12" r="10"></circle>
												<line x1="12" y1="8" x2="12" y2="16"></line>
												<line x1="8" y1="12" x2="16" y2="12"></line>
											</svg>
										</button>
									</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col">
					<h2 class="titulos-h2">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
								<path d="M4 2v20l2-1 2 1 2-1 2 1 2-1 2 1 2-1 2 1V2l-2 1-2-1-2 1-2-1-2 1-2-1-2 1-2-1z"></path>
								<path d="M16 8h-6"></path>
								<path d="M16 12H8"></path>
								<path d="M13 16H8"></path>
						</svg>
						Despesas / Movimentações</h2>
					<div class="col-content">
						<div class="tabela-wrapper">
							<table id="tabelaDespesas">
								<thead>
									<tr>
										<th>Pago</th>
										<th>Vencimento</th>
										<th>Descrição</th>
										<th>Categoria</th>
										<th>Valor</th>
										<th>Tipo</th>
										<th>Ações</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
						<div class="input-group" style="margin-top:10px;">
							<div class="input-row-flex">
								<input type="date" id="dataVencimento" class="input-date-fixed" onchange="salvarExcel()">
								<input type="text" id="descricaoDespesa" placeholder="Descrição" class="input-70">
								<input type="number" id="valorDespesa" placeholder="Valor" class="input-30"> 
							</div>	
							<div class="input-row-flex">
								<select id="categoriaDespesa" class="input-50  altura-forms"></select>
								<select id="tipoMovimentacao" class="form-control input-30 combo-heigth altura-forms">
									<option value="Despesa">Despesa</option>
									<option value="Receita">Receita</option>
								</select>
								<div class="switch-wrapper">
									<span class="switch-label">Pago</span>
									<label class="switch">
										<input type="checkbox" id="pagoDespesa">
										<span class="slider round"></span>
									</label>
								</div>
								<button class="btn btn-add-descontos" onclick="adicionarDespesa()">
									<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
										<circle cx="12" cy="12" r="10"></circle>
										<line x1="12" y1="8" x2="12" y2="16"></line>
										<line x1="8" y1="12" x2="16" y2="12"></line>
									</svg>
								</button>
							</div>	                         
							
						</div>
					</div>
					<h2 class="titulos-h2">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
							<line x1="1" y1="10" x2="23" y2="10"></line>
						</svg>
						Detalhamento Cartão de Crédito
					</h2>
					<div class="col-content">						
						<div class="tabela-wrapper">							
							<table id="tabelaCartao">
								<thead>
									<tr>
										<th>Cartão</th>
										<th>Descrição</th>
										<th>Categoria</th>
										<th>Valor</th>
										<th>Ações</th>
									</tr>
								</thead>
								<tbody>
									</tbody>
							</table>
						</div>	
							<div class="input-group" style="margin-top:10px;">
								<div class="input-row-flex">
									<select id="escolhaCartao" class="altura-forms">
										<option value="Cartão Nubank">Nubank</option>
										<option value="Cartão Visa">Visa</option>
										<option value="Cartão Inter">Inter</option>
									</select>
									<input type="text" id="descCartao" class=" altura-forms" placeholder="Ex: Amazon">
									<select id="categoriaCartao" class=" altura-forms"></select>
									<input type="number" id="valCartao" class=" altura-forms" placeholder="Valor">
									<button onclick="adicionarItemCartao()" class="btn btn-add-descontos altura-forms" title="Adicionar Movimento">
										<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
											<circle cx="12" cy="12" r="10"></circle>
											<line x1="12" y1="8" x2="12" y2="16"></line>
											<line x1="8" y1="12" x2="16" y2="12"></line>
										</svg>
									</button>
									<button onclick="abrirModalCartoes()" class="btn-config-cartao btn btn-add-descontos altura-forms" title="Gerenciar Cartões">
										<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
											<circle cx="12" cy="12" r="3"></circle>
											<path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
										</svg>
									</button>
									<div id="modalCartoes" class="modal-simples" style="display:none; position:fixed; z-index:1000; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.5);">
										<div style="background:#fff; margin:10% auto; padding:20px; width:300px; border-radius:8px;">
											<h4>Gerenciar Cartões</h4>
											<div style="display:flex; gap:5px; margin-bottom:10px;">
												<input type="text" id="novoNomeCartao" placeholder="Ex: Nubank" style="flex:1;">
												<button onclick="cadastrarNovoCartao()" class="btn btn-add-descontos">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
														<circle cx="12" cy="12" r="10"></circle>
														<line x1="12" y1="8" x2="12" y2="16"></line>
														<line x1="8" y1="12" x2="16" y2="12"></line>
													</svg>
												</button>
											</div>
											<ul id="listaCartoesCadastrados" style="list-style:none; padding:0; max-height:200px; overflow-y:auto;">
												</ul>
											<button onclick="fecharModalCartoes()" class="btn btn-add-descontos" style="width:100%; margin-top:10px;">Fechar</button>
										</div>
									</div>
								</div>		
							</div>		
					</div>
				</div>
			</div>
		</div>

	</div>

    <!-- Chart.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <!-- Link para o JS externo -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
